@import '~@csstools/normalize.css';

.box {
  text-align: start;
  margin: auto;
  width: 460px;
  padding: 25px;
  border: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  width: 120px;
  margin-top: 10px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.contact-butoon {
  margin-left: 25px;
}

.list {
  width: 450px;
  margin: auto;
  margin-top: 15px;
}

.statistics {
  font-size: 20px;
  line-height: 1.5;
}
